body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.tick line {
  stroke: #c0c0bb;
}

.tick text {
  fill: #635f5d;
}

.mark {
  fill: orange;
}

.marks path {
  stroke: orange;
  stroke-width: 10px;
}

.marks circle {
  fill: #635f5d;
}

.axis-label {
  font-size: 1.2em;
}

.panels > div {
  border: 1px solid black;
}

.panels {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 225px auto auto;
  grid-template-rows: auto auto;
}
.panel-info {
  grid-row: span 2;
}
.panel-positions {
  grid-column: span 2;
}

path {
  fill: none;
  stroke: black;
  stroke-width: 5px;
}

.marker-line {
  stroke: black;
  stroke-width: 2px;
}

text {
  font-size: 2em;
}

.domain {
  display: none;
}

.tick line {
  stroke: #bbbbbb;
}

.tick text {
  fill: #565656;
  font-size: 14px;
}

path {
  fill: none;
  stroke: orange;
  stroke-width: 7px;
}
